<div class="row mt-3">
  <div class="col-md-4">
    <div class="text-over-image">
      <img class="img-fluid" src="{{ "/assets/images/spider-web.jpg" | relative_url }}" />
      <div class="text">
        <a href="{{ "/webapps" | relative_url }}">Web Application Security</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-over-image">
      <img class="img-fluid" src="{{ "/assets/images/network-cables.jpg" | relative_url }}" />
      <div class="text">
        <a href="{{ "/infrastructure" | relative_url }}">Infrastructure Security</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-over-image">
      <img class="img-fluid" src="{{ "/assets/images/umbrella.jpg" | relative_url }}" />
      <div class="text">
        <a href="{{ "/personal" | relative_url }}">Personal Security</a>
      </div>
    </div>
  </div>
</div>